.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style-image: none;
}

.container {
  width: @desktop-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
  
  @media (max-width: @desktop-width) {
    width: @tablet-width;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (max-width: @tablet-width) {
    width: 100%;
    min-width: @mobile-width;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.slider-arrows {
  display: flex;
  gap: 8px;

  & button {
    width: 48px;
    aspect-ratio: 1/1;
    background-color: @yellow;
    color: @gray;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

    &:last-child > svg {
      transform: rotate(180deg);
    }

    &:hover {
      background-color: @orange;
      color: white;
      cursor: pointer;
    }
  }
}

.slider-dots {
  margin-left: auto;
  margin-right: auto;

  & ul {
    .list-reset;
    display: flex;
    align-items: center;
    position: static;
    top: auto;
    bottom: auto;
    top: auto;
    left: auto;
    gap: 5px;
  }

  & li {
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    &::before {
      content: '';
      width: 100%;
      height: 4px;
      background-color: #949593;
      border-radius: 2px;
      display: flex;
      padding-right: 0;
      margin-right: 0;
    }

    &:hover::before {
      background-color: @orange;
      cursor: pointer;
    }

    & button {
      .visually-hidden;
    }
  }

  & .slick-active::before {
    background-color: @yellow !important;
  }
}

.title(@img) {
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  gap: 16px;

  &::before {
    content: '';
    width: 48px;
    aspect-ratio: 1/1;
    border-radius: 6px;
    background-color: @yellow;
    background-image: url(@img);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
  }

  h2,
  p {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }
}

.horizontal-line-cutting {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}